/** Estilos portada HTML**/

html {
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
}

* {
    padding: 0px;
    margin: 0px;
}

.bannerweb {
    background-image: url("../imagenes/quirurgico2.jpg");
    background-position: center;
    height: 100vh; /* Altura Total */
}

.centrado {
    text-align: center;
}

.bajar2 { padding-top: 50px; }
.bajar3 { padding-top: 200px; }
.bajarlogo { padding-top: 25px; }

h1, p, a {
    color: #227dab; /* azul quirúrgico */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* mejora contraste */
    font-size: 70px
}

h2, p, a {
    color: #227dab; /* azul quirúrgico */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* mejora contraste */
    font-size: 50px
}

/* Botones */
.botones {
    width: 150px;
    height: 30px;
    border-radius: 8px solid #070707;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 3);
    cursor: pointer;
    color: #fff;
    background-color: #1E3A8A;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 35px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    transition: all linear 0.2s;
    border-radius: 24px;
}

.botones:hover {
    background-color: #005999;
    color: #efefef;
    transition: all linear 0.3s;
}

/** Estilos Tour HTML**/

body {
    overflow-x: hidden;
    font-family: "Segoe UI", Roboto, sans-serif;
}
    
#container_principal {
    height: calc(100vh - 160px);
  }

.cursor {
    cursor: pointer;
}

header {
    padding: 15px 20px;
    background-color: #227dab;
  }
  
  header h1 {
    text-align: center;
    color: white;
    font-size: 64px;
    margin: 0;
  }

  footer p {
    background-color: #227dab;
    color: white;
    padding: 12px 20px;
    font-size: 25px;
    margin: 0;
    text-align: center;
  }

.fondo {
    background-color: #227dab;
}